body {
    min-height: 1000px;
    min-width: 1000px;
    background: radial-gradient(rgb(50,50,50), black);
}

@font-face {
  font-family: "souls";
  src: url("Seagram\ tfb.ttf");
}


* {
    color: white;
    letter-spacing: 3px;
    font-family: souls;
}